* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
}
header {
    width: 50%;
    margin: 0 auto;
}
/*PHOTO*/
figure {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
/*CV*/
.title {
    font-size: 24px;
    text-align: center;
    color: #433f3f;
}
/*ABOUT ME*/
.main-title {
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
}
/*NAME*/
main {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.h2 {
    font-size: 36px;
}
/*ABOUT*/
.main-about {
    font-size: 20px;
    text-align: center;
}
.main-about ul > li {
    list-style-type: none;
}
.main-about ul > li > b {
    text-transform: uppercase;
    font-size: 20px;
    color: #d68484;
}
/*LIFE*/
.main-life {
    text-align: center;
    margin-top: 2px;
}
.main-life > p {
    font-size: 21px;
}

/*SKILLS*/
h3 {
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
}
.main-skills ul > li {
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}
/*EDUCATION*/
.main-education {
    text-align: center;
    margin-bottom: 5px;
}
.main-education ul > li {
    font-size: 18px;
    list-style-type: none;
}

/*MAIN CONTACT*/
.main-contact ul > li {
    list-style-type: none;
    font-size: 16px;
    text-align: center;
}
.main-contact li > a {
    text-decoration: none;
    color: lightslategray;
}

footer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.create {
    font-size: 12px;
}
footer p > a{
    text-decoration: none;
    color: cadetblue;
}
